body {
    background-color: bisque;
    min-height: 100vh; 
    position: relative;
}

* {
  font-family: "Stack Sans Headline", sans-serif;
  font-style: normal;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.page {
    min-height: 80vh;
}

.wrapper_component {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 12px;
    margin: 12px;
}