.header {
    padding: 12px;
}

.header_menu {
    display: flex;
    gap: 24px;
    list-style-type: none;
    flex-wrap: wrap;
}

.header_menu .header_menu_item > * {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.header_title {
    font-size: 12px;
}